.my-nav-link {
    text-decoration: underline !important;
    color: #222222 !important;
}

.my-nav-link:hover {
    text-decoration: none !important;
    color:blue !important;
}

.superHeader {
    padding: 20px 0; 
    background: #093d6b; 
    color:#fff
}

.superHeader span {
    display:inline-block; 
    float:left; 
    font-weight: 500; 
    color: #093d6b; 
    background: #fff; 
    padding: 2px 14px
}

.superHeader p { 
    padding:0; 
    margin:2px 0 0 12px; 
    display: inline-block
}


#results-table_wrapper {
    width: 100% !important
}

.result-dl-title {
    margin-bottom: 25px;
}

.custom-divider {
    border-top: 4px solid #eee;
}

.aggregation-table th {
    font-size: 1.5rem;
}

#test-site-text {
    font-size: 13px;
}